pipeline/PCS_COMMON_DATABRICKS.json
{
	"name": "PCS_COMMON_DATABRICKS",
	"properties": {
		"description": " ",
		"activities": [
			{
				"name": "Run MODEL",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "CHECK DNDP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@concat('/Shared/',pipeline().parameters.P_DATABRICKS)",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "INSERT PROCESS LOG",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_CNTL_START_PCS]",
						"storedProcedureParameters": {
							"P_PCS_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_PCS_NM",
									"type": "Expression"
								}
							},
							"P_RUN_MODE": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_RUN_MODE",
									"type": "Expression"
								}
							},
							"P_STREAM_SEQ_ID": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_STREAM_SEQ_ID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "GET LATEST LOG",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SET LOAD_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_CHK_LTST_PCS]",
						"storedProcedureParameters": {
							"P_LOAD_ID": {
								"type": "String",
								"value": {
									"value": "@variables('V_LOAD_ID')",
									"type": "Expression"
								}
							},
							"P_PCS_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_PCS_NM",
									"type": "Expression"
								}
							},
							"P_RUN_MODE": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_RUN_MODE",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CHECK LATEST LOG",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GET LATEST LOG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GET LATEST LOG').output.FIRSTROW.LTST_LOG_F,'1')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "ABORT CHECK LATEST LOG",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT 1",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SqlServerTable1",
									"type": "DatasetReference"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "PASS CHECK LATEST LOG",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT 1",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SqlServerTable1",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "GET DNDP",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CHECK LATEST LOG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_CHK_DPND_PCS]",
						"storedProcedureParameters": {
							"P_AS_AT_DT": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_AS_AT_DT",
									"type": "Expression"
								}
							},
							"P_LOAD_ID": {
								"type": "String",
								"value": {
									"value": "@variables('V_LOAD_ID')",
									"type": "Expression"
								}
							},
							"P_PCS_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_PCS_NM",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CHECK DNDP",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GET DNDP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GET DNDP').output.FIRSTROW.DPND_F,'1')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "ABORT CHECK DNDP",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT 1/0",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SqlServerTable1",
									"type": "DatasetReference"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "PASS CHECK DNDP",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT 1",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SqlServerTable1",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "SET LOAD_ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "INSERT PROCESS LOG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_LOAD_ID",
					"value": {
						"value": "@activity('INSERT PROCESS LOG').output.FIRSTROW.LOAD_ID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "UPDATE FAILED ON LATEST LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CHECK LATEST LOG",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
					"storedProcedureParameters": {
						"P_CNT_SRC": {
							"value": null,
							"type": "String"
						},
						"P_CNT_TGT": {
							"value": null,
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('V_LOAD_ID')",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_PCS_NM": {
							"value": {
								"value": "@pipeline().parameters.P_PCS_NM",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_RMRK": {
							"value": "PREVIOUS CYCLE PROCESS DID NOT COMPLETE",
							"type": "String"
						},
						"P_ST": {
							"value": "FAILED",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UPDATE FAILED ON DEPENDENCIES",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CHECK DNDP",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
					"storedProcedureParameters": {
						"P_CNT_SRC": {
							"value": null,
							"type": "String"
						},
						"P_CNT_TGT": {
							"value": null,
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('V_LOAD_ID')",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_PCS_NM": {
							"value": {
								"value": "@pipeline().parameters.P_PCS_NM",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_RMRK": {
							"value": "CHECKING DEPENDENCY FAILED",
							"type": "String"
						},
						"P_ST": {
							"value": "FAILED",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UPDATE FAILED ON RUN DATABRICK MODEL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Run MODEL",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
					"storedProcedureParameters": {
						"P_CNT_SRC": {
							"value": null,
							"type": "String"
						},
						"P_CNT_TGT": {
							"value": null,
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('V_LOAD_ID')",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_PCS_NM": {
							"value": {
								"value": "@pipeline().parameters.P_PCS_NM",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_RMRK": {
							"value": "FAILED ON RUN DATABRICK MODEL",
							"type": "String"
						},
						"P_ST": {
							"value": "FAILED",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UPDATE SUCCESS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Run MODEL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
					"storedProcedureParameters": {
						"P_CNT_SRC": {
							"value": null,
							"type": "String"
						},
						"P_CNT_TGT": {
							"value": null,
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('V_LOAD_ID')",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_PCS_NM": {
							"value": {
								"value": "@pipeline().parameters.P_PCS_NM",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_RMRK": {
							"value": null,
							"type": "String"
						},
						"P_ST": {
							"value": "SUCCESS",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"P_RUN_MODE": {
				"type": "string",
				"defaultValue": "R"
			},
			"P_PCS_NM": {
				"type": "string",
				"defaultValue": "999"
			},
			"P_STREAM_SEQ_ID": {
				"type": "string",
				"defaultValue": "-999"
			},
			"P_AS_AT_DT": {
				"type": "string",
				"defaultValue": "19000101"
			},
			"P_DATABRICKS": {
				"type": "string",
				"defaultValue": "999"
			}
		},
		"variables": {
			"V_STREAM_NM": {
				"type": "String",
				"defaultValue": "SALES_PRED"
			},
			"V_LOAD_ID": {
				"type": "String",
				"defaultValue": "-999"
			},
			"V_STREAM_RESULT": {
				"type": "String",
				"defaultValue": "-999"
			}
		},
		"folder": {
			"name": "COMMON JOB"
		},
		"annotations": [],
		"lastPublishTime": "2020-10-16T09:42:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}