pipeline/PCS_COMMON_3.json
{
	"name": "PCS_COMMON_3",
	"properties": {
		"activities": [
			{
				"name": "COPY",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.P_CONNECTION_NM",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "EDW",
							"activities": [
								{
									"name": "EDW",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "EDW UPDATE COUNT SOURCE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "NetezzaSource",
											"query": {
												"value": "@pipeline().parameters.P_SOURCE_TABLE_STMT",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "NetezzaTable",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ParquetFile",
											"type": "DatasetReference",
											"parameters": {
												"file_name": {
													"value": "@pipeline().parameters.P_SRC_TBL",
													"type": "Expression"
												},
												"path": {
													"value": "@pipeline().parameters.P_PATH",
													"type": "Expression"
												},
												"asatdt": {
													"value": "@pipeline().parameters.P_AS_AT_DT",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "EDW COUNT SOURCE",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "NetezzaSource",
											"query": {
												"value": "@pipeline().parameters.P_SOURCE_CNT_STMT",
												"type": "Expression"
											},
											"partitionOption": "DataSlice"
										},
										"dataset": {
											"referenceName": "NetezzaTable",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "EDW UPDATE COUNT SOURCE",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "EDW COUNT SOURCE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
										"storedProcedureParameters": {
											"P_CNT_SRC": {
												"value": {
													"value": "@activity('EDW COUNT SOURCE').output.FIRSTROW.COUNT",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_CNT_TGT": {
												"value": null,
												"type": "String"
											},
											"P_LOAD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LOAD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "START",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "EDW UPDATE COUNT TARGET",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "EDW",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
										"storedProcedureParameters": {
											"P_CNT_SRC": {
												"value": {
													"value": "@activity('EDW COUNT SOURCE').output.FIRSTROW.COUNT",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_CNT_TGT": {
												"value": {
													"value": "@activity('EDW').output.rowsCopied",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_LOAD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LOAD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "START",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								}
							]
						},
						{
							"value": "ORACLE",
							"activities": [
								{
									"name": "ORACLE COUNT SOURCE",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "@pipeline().parameters.P_SOURCE_CNT_STMT",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "OracleTable",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "ORACLE UPDATE COUNT SOURCE",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ORACLE COUNT SOURCE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
										"storedProcedureParameters": {
											"P_CNT_SRC": {
												"value": {
													"value": "@activity('ORACLE COUNT SOURCE').output.FIRSTROW.COUNT",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_CNT_TGT": {
												"value": null,
												"type": "String"
											},
											"P_LOAD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LOAD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "START",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ORACLE",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "ORACLE UPDATE COUNT SOURCE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "@pipeline().parameters.P_SOURCE_TABLE_STMT",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "OracleTable",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ParquetFile",
											"type": "DatasetReference",
											"parameters": {
												"file_name": {
													"value": "@pipeline().parameters.P_SRC_TBL",
													"type": "Expression"
												},
												"path": {
													"value": "@pipeline().parameters.P_PATH",
													"type": "Expression"
												},
												"asatdt": {
													"value": "@pipeline().parameters.P_AS_AT_DT",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "ORACLE UPDATE COUNT TARGET",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ORACLE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
										"storedProcedureParameters": {
											"P_CNT_SRC": {
												"value": {
													"value": "@activity('ORACLE COUNT SOURCE').output.FIRSTROW.COUNT",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_CNT_TGT": {
												"value": {
													"value": "@activity('ORACLE').output.rowsCopied",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_LOAD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LOAD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "START",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								}
							]
						},
						{
							"value": "EDW_TXN",
							"activities": [
								{
									"name": "PCS_CUSTOM_EDW_TXN",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PCS_CUSTOM_EDW_TXN",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_SRC_TBL": "T_SALES_ACTUAL_TG",
											"P_PATH": {
												"value": "@pipeline().parameters.P_PATH",
												"type": "Expression"
											},
											"P_AS_AT_DT": {
												"value": "@pipeline().parameters.P_AS_AT_DT",
												"type": "Expression"
											},
											"P_PCS_NM": {
												"value": "@pipeline().parameters.P_PCS_NM",
												"type": "Expression"
											},
											"P_SOURCE_CNT_STMT": {
												"value": "@pipeline().parameters.P_SOURCE_CNT_STMT",
												"type": "Expression"
											},
											"P_LOAD_ID": {
												"value": "@pipeline().parameters.P_LOAD_ID",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "MONGO",
							"activities": [
								{
									"name": "PCS_CUSTOM_MONGO",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PCS_CUSTOM_MONGO",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_SRC_TBL": {
												"value": "@pipeline().parameters.P_SRC_TBL",
												"type": "Expression"
											},
											"P_PATH": {
												"value": "@pipeline().parameters.P_PATH",
												"type": "Expression"
											},
											"P_AS_AT_DT": {
												"value": "@pipeline().parameters.P_AS_AT_DT",
												"type": "Expression"
											},
											"P_LOAD_ID": {
												"value": "@pipeline().parameters.P_LOAD_ID",
												"type": "Expression"
											},
											"P_PCS_NM": {
												"value": "@pipeline().parameters.P_PCS_NM",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "ABORT COPY",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT 1/0",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ControlTable",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"P_STREAM_NM": {
				"type": "string",
				"defaultValue": "MONGO_CustGeo"
			},
			"P_SOURCE_CNT_STMT": {
				"type": "string",
				"defaultValue": "-999"
			},
			"P_LOAD_ID": {
				"type": "string",
				"defaultValue": "-999"
			},
			"P_PCS_NM": {
				"type": "string",
				"defaultValue": "GET_LOCATION_FACE_RECOGNITION_CustGeoInfo"
			},
			"P_SOURCE_TABLE_STMT": {
				"type": "string",
				"defaultValue": "-999"
			},
			"P_SRC_TBL": {
				"type": "string",
				"defaultValue": "CustGeoInfo"
			},
			"P_PATH": {
				"type": "string",
				"defaultValue": "getlocationfacerecognition"
			},
			"P_AS_AT_DT": {
				"type": "string",
				"defaultValue": "-999"
			},
			"P_CONNECTION_NM": {
				"type": "string",
				"defaultValue": "-999"
			}
		},
		"folder": {
			"name": "COMMON JOB"
		},
		"annotations": []
	}
}