pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "STREAM RESULT",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "DECLARE @RESULT_SET VARCHAR(MAX);\n\t\t\tSELECT \t@RESULT_SET=\n\t\t\tstring_agg(concat('<tr><td>',PCS.STREAM_NM,'</td>\n    <td>',\n\t\t\tPCS_LOG.LOAD_ID,'</td>\n    <td>',\n\t\t\tPCS_LOG.PCS_NM,'</td>\n    <td>',\n\t\t\tPCS_LOG.STRT_DTTM,'</td>\n    <td>',\n\t\t\tPCS_LOG.END_DTTM,'</td>\n    <td>',\n\t\t\tPCS_LOG.ST,'</td>\n    <td>',\n\t\t\tPCS_LOG.RMRK,'</td>')\n\t\t\t\n\t\t\t,'  </tr>'\n\t\t\t )\n\t\t\tFROM CNTL_PCS_LOG PCS_LOG\n\t\t\tINNER JOIN CNTL_CFG_PCS PCS\n\t\t\tON PCS_LOG.PCS_NM = PCS.PCS_NM\n\t\t\tWHERE PCS.STREAM_NM  = 'ORACLE'\n\t\t\tAND PCS_LOG.STREAM_SEQ_ID = 7;\n\n\nSELECT CONCAT('\n<html>\n<head>\n<style>\ntable, th, td {\n  border: 1px solid black;\n}\n</style>\n</head>\n<body>\n\n<h1>RUN RESULT</h1>\n\n<table>\n  <tr>\n    <th>Stream Name</th>\n    <th>Load id</th>\n    <th>Process Name</th>\n\t<th>Start datetime</th>\n\t<th>End datetime</th>\n\t<th>Status</th>\n\t<th>remark</th>\n  </tr>',@RESULT_SET,'\n</table>\n\n</body>\n</html>') AS A\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "STREAM RESULT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-73.eastus.logic.azure.com:443/workflows/31b9c44d80f445e3b627ae52e1048925/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=w3NMGAuVijZ7CE64ElCEkj35TgrTsbwnRx2j6DYIyHU",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\"ErrorMessage\":\"@{activity('STREAM RESULT').output.firstrow.a}\"}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"date": {
				"type": "String",
				"defaultValue": "20200101"
			},
			"sss": {
				"type": "Array"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}