pipeline/pl_looploadfile.json
{
	"name": "pl_looploadfile",
	"properties": {
		"description": " ",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_GET_FILE_LIST]",
						"storedProcedureParameters": {
							"P_WNID": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_WNID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value\n",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Binary1",
									"type": "DatasetReference",
									"parameters": {
										"weblink": {
											"value": "@item().FILE_NM",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Binary2",
									"type": "DatasetReference",
									"parameters": {
										"p_path": {
											"value": "@pipeline().parameters.P_WNID",
											"type": "Expression"
										},
										"p_filename": "@concat(item().FILE_ID, '.jpg')"
									}
								}
							]
						},
						{
							"name": "insert success log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[CNTL].[PROC_CNTL_INS_FILE_LOG]",
								"storedProcedureParameters": {
									"P_CNT_SRC": {
										"value": null,
										"type": "Int32"
									},
									"P_CNT_TGT": {
										"value": null,
										"type": "Int32"
									},
									"P_LOAD_ID": {
										"value": {
											"value": "@pipeline().parameters.P_LOAD_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"P_PCS_NM": {
										"value": {
											"value": "@pipeline().parameters.P_PCS_NM",
											"type": "Expression"
										},
										"type": "String"
									},
									"P_RMRK": {
										"value": {
											"value": "@pipeline().parameters.P_WNID",
											"type": "Expression"
										},
										"type": "String"
									},
									"P_SIZE_SRC": {
										"value": {
											"value": "@activity('Copy data1').output.dataRead",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"P_SIZE_TGT": {
										"value": {
											"value": "@activity('Copy data1').output.dataWritten",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"P_SRC_FILE_NM": {
										"value": {
											"value": "@item().FILE_NM",
											"type": "Expression"
										},
										"type": "String"
									},
									"P_ST": {
										"value": "FINISHED",
										"type": "String"
									},
									"P_STREAM_SEQ_ID": {
										"value": {
											"value": "@pipeline().parameters.P_STREAM_SEQ_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"P_TGT_FILE_NM": {
										"value": {
											"value": "@concat(item().FILE_ID, '.jpg')",
											"type": "Expression"
										},
										"type": "String"
									},
									"P_UDT_BY": {
										"value": "INTELTION",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServer1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "insert fail log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[CNTL].[PROC_CNTL_INS_FILE_LOG]",
								"storedProcedureParameters": {
									"P_CNT_SRC": {
										"value": null,
										"type": "Int32"
									},
									"P_CNT_TGT": {
										"value": null,
										"type": "Int32"
									},
									"P_LOAD_ID": {
										"value": {
											"value": "@pipeline().parameters.P_LOAD_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"P_PCS_NM": {
										"value": {
											"value": "@pipeline().parameters.P_PCS_NM",
											"type": "Expression"
										},
										"type": "String"
									},
									"P_RMRK": {
										"value": {
											"value": "@pipeline().parameters.P_WNID",
											"type": "Expression"
										},
										"type": "String"
									},
									"P_SIZE_SRC": {
										"value": {
											"value": "@activity('Copy data1').output.dataRead",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"P_SIZE_TGT": {
										"value": {
											"value": "@activity('Copy data1').output.dataWritten",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"P_SRC_FILE_NM": {
										"value": {
											"value": "@item().FILE_NM",
											"type": "Expression"
										},
										"type": "String"
									},
									"P_ST": {
										"value": "FAILED",
										"type": "String"
									},
									"P_STREAM_SEQ_ID": {
										"value": {
											"value": "@pipeline().parameters.P_STREAM_SEQ_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"P_TGT_FILE_NM": {
										"value": {
											"value": "@concat(item().FILE_ID, '.jpg')",
											"type": "Expression"
										},
										"type": "String"
									},
									"P_UDT_BY": {
										"value": "INTELTION",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServer1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "RMRK",
								"value": {
									"value": "@pipeline().parameters.P_WNID",
									"type": "Expression"
								}
							},
							{
								"name": "STM_NM",
								"value": "IMAGENET"
							},
							{
								"name": "UDT_BY",
								"value": "INTELTION"
							}
						],
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"sqlWriterStoredProcedureName": "[CNTL].[spInsertFile]",
						"sqlWriterTableType": "CNTL.UrlTableType",
						"storedProcedureTableTypeParameterName": "UrlType"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText3",
						"type": "DatasetReference",
						"parameters": {
							"p_weblink": {
								"value": "@concat('http://www.image-net.org/api/text/imagenet.synset.geturls?wnid=', pipeline().parameters.P_WNID)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"P_WNID": {
				"type": "string",
				"defaultValue": "n09266604"
			},
			"P_PCS_NM": {
				"type": "string",
				"defaultValue": "IMAGENET"
			},
			"P_STREAM_SEQ_ID": {
				"type": "string"
			},
			"P_LOAD_ID": {
				"type": "string"
			}
		},
		"folder": {
			"name": "TEST"
		},
		"annotations": [],
		"lastPublishTime": "2020-11-20T07:58:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}