pipeline/pl_subloadfile.json
{
	"name": "pl_subloadfile",
	"properties": {
		"activities": [
			{
				"name": "Lookup3",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": {
								"value": "@pipeline().parameters.P_CNT",
								"type": "Expression"
							}
						}
					},
					"dataset": {
						"referenceName": "DelimitedText5",
						"type": "DatasetReference",
						"parameters": {
							"p_container": {
								"value": "img",
								"type": "Expression"
							},
							"p_filename": {
								"value": "wnid.txt",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup3').output.value\n",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "pl_looploadfile",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_looploadfile",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"P_WNID": {
										"value": "@item().Prop_0",
										"type": "Expression"
									},
									"P_PCS_NM": {
										"value": "@pipeline().parameters.P_PCS_NM",
										"type": "Expression"
									},
									"P_STREAM_SEQ_ID": {
										"value": "@pipeline().parameters.P_STREAM_SEQ_ID",
										"type": "Expression"
									},
									"P_LOAD_ID": {
										"value": "@pipeline().parameters.P_LOAD_ID",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"P_PCS_NM": {
				"type": "string",
				"defaultValue": "IMAGENET"
			},
			"P_STREAM_SEQ_ID": {
				"type": "string"
			},
			"P_LOAD_ID": {
				"type": "string"
			},
			"P_CNT": {
				"type": "string"
			}
		},
		"folder": {
			"name": "TEST"
		},
		"annotations": [],
		"lastPublishTime": "2020-11-20T07:59:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}