pipeline/RUN_PCS_3.json
{
	"name": "RUN_PCS_3",
	"properties": {
		"activities": [
			{
				"name": "COPY",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.STREAM_NM",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "EDW",
							"activities": [
								{
									"name": "EDW",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "EDW UPDATE COUNT SOURCE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "NetezzaSource",
											"query": {
												"value": "@pipeline().parameters.SOURCE_TABLE_STMT",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "NetezzaTable",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ParquetFile",
											"type": "DatasetReference",
											"parameters": {
												"file_name": {
													"value": "@pipeline().parameters.SRC_TBL",
													"type": "Expression"
												},
												"path": {
													"value": "@pipeline().parameters.PATH",
													"type": "Expression"
												},
												"asatdt": {
													"value": "@pipeline().parameters.AS_AT_DT",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "EDW COUNT SOURCE",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "NetezzaSource",
											"query": {
												"value": "@pipeline().parameters.SOURCE_CNT_STMT",
												"type": "Expression"
											},
											"partitionOption": "DataSlice"
										},
										"dataset": {
											"referenceName": "NetezzaTable",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "EDW UPDATE COUNT SOURCE",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "EDW COUNT SOURCE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
										"storedProcedureParameters": {
											"P_CNT_SRC": {
												"value": {
													"value": "@activity('EDW COUNT SOURCE').output.FIRSTROW.COUNT",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_CNT_TGT": {
												"value": null,
												"type": "String"
											},
											"P_LOAD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LOAD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "START",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "EDW UPDATE COUNT TARGET",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "EDW",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
										"storedProcedureParameters": {
											"P_CNT_SRC": {
												"value": {
													"value": "@activity('EDW COUNT SOURCE').output.FIRSTROW.COUNT",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_CNT_TGT": {
												"value": {
													"value": "@activity('EDW').output.rowsCopied",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_LOAD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LOAD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "START",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								}
							]
						},
						{
							"value": "POSTGRE_STAGING",
							"activities": [
								{
									"name": "POSTGRE_STAGING COUNT SOURCE",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "PostgreSqlSource",
											"query": {
												"value": "@pipeline().parameters.SOURCE_CNT_STMT",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "PostgreSqlTable",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "POSTGRE_STAGING UPDATE COUNT SOURCE",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "POSTGRE_STAGING COUNT SOURCE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
										"storedProcedureParameters": {
											"P_CNT_SRC": {
												"value": {
													"value": "@activity('POSTGRE_STAGING COUNT SOURCE').output.FIRSTROW.COUNT",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_CNT_TGT": {
												"value": null,
												"type": "String"
											},
											"P_LOAD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LOAD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "START",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "POSTGRE_STAGING",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "POSTGRE_STAGING UPDATE COUNT SOURCE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "PostgreSqlSource",
											"query": {
												"value": "@pipeline().parameters.SOURCE_TABLE_STMT",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "PostgreSqlTable",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ParquetFile",
											"type": "DatasetReference",
											"parameters": {
												"file_name": {
													"value": "@pipeline().parameters.SRC_TBL",
													"type": "Expression"
												},
												"path": {
													"value": "@pipeline().parameters.PATH",
													"type": "Expression"
												},
												"asatdt": {
													"value": "@pipeline().parameters.AS_AT_DT",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "POSTGRE_STAGING UPDATE COUNT TARGET",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "POSTGRE_STAGING",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
										"storedProcedureParameters": {
											"P_CNT_SRC": {
												"value": {
													"value": "@activity('POSTGRE_STAGING COUNT SOURCE').output.FIRSTROW.COUNT",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_CNT_TGT": {
												"value": {
													"value": "@activity('POSTGRE_STAGING').output.rowsCopied",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_LOAD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LOAD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "START",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								}
							]
						},
						{
							"value": "DV",
							"activities": [
								{
									"name": "DV COUNT SOURCE",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "NetezzaSource",
											"query": {
												"value": "@pipeline().parameters.SOURCE_CNT_STMT",
												"type": "Expression"
											},
											"partitionOption": "DataSlice"
										},
										"dataset": {
											"referenceName": "NetezzaTable",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "DV UPDATE COUNT SOURCE",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "DV COUNT SOURCE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
										"storedProcedureParameters": {
											"P_CNT_SRC": {
												"value": {
													"value": "@activity('DV COUNT SOURCE').output.FIRSTROW.COUNT",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_CNT_TGT": {
												"value": null,
												"type": "String"
											},
											"P_LOAD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LOAD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "START",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "DV",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DV UPDATE COUNT SOURCE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "NetezzaSource",
											"query": {
												"value": "@pipeline().parameters.SOURCE_TABLE_STMT",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "NetezzaTable",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ParquetFile",
											"type": "DatasetReference",
											"parameters": {
												"file_name": {
													"value": "@pipeline().parameters.SRC_TBL",
													"type": "Expression"
												},
												"path": {
													"value": "@pipeline().parameters.PATH",
													"type": "Expression"
												},
												"asatdt": {
													"value": "@pipeline().parameters.AS_AT_DT",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "DV UPDATE COUNT TARGET",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "DV",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
										"storedProcedureParameters": {
											"P_CNT_SRC": {
												"value": {
													"value": "@activity('DV COUNT SOURCE').output.FIRSTROW.COUNT",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_CNT_TGT": {
												"value": {
													"value": "@activity('DV').output.rowsCopied",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_LOAD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LOAD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "START",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								}
							]
						},
						{
							"value": "ORACLE",
							"activities": [
								{
									"name": "ORACLE COUNT SOURCE",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "@pipeline().parameters.SOURCE_CNT_STMT",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "OracleTable",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "ORACLE UPDATE COUNT SOURCE",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ORACLE COUNT SOURCE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
										"storedProcedureParameters": {
											"P_CNT_SRC": {
												"value": {
													"value": "@activity('ORACLE COUNT SOURCE').output.FIRSTROW.COUNT",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_CNT_TGT": {
												"value": null,
												"type": "String"
											},
											"P_LOAD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LOAD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "START",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ORACLE",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "ORACLE UPDATE COUNT SOURCE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "@pipeline().parameters.SOURCE_TABLE_STMT",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "OracleTable",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ParquetFile",
											"type": "DatasetReference",
											"parameters": {
												"file_name": {
													"value": "@pipeline().parameters.SRC_TBL",
													"type": "Expression"
												},
												"path": {
													"value": "@pipeline().parameters.PATH",
													"type": "Expression"
												},
												"asatdt": {
													"value": "@pipeline().parameters.AS_AT_DT",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "ORACLE UPDATE COUNT TARGET",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ORACLE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
										"storedProcedureParameters": {
											"P_CNT_SRC": {
												"value": {
													"value": "@activity('ORACLE COUNT SOURCE').output.FIRSTROW.COUNT",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_CNT_TGT": {
												"value": {
													"value": "@activity('ORACLE').output.rowsCopied",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_LOAD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LOAD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "START",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								}
							]
						},
						{
							"value": "MONGO_ML_Detector",
							"activities": [
								{
									"name": "MONGO_ML_Detector",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MongoDbV2Source",
											"batchSize": 100
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "MongoDb_CustGeo",
											"type": "DatasetReference",
											"parameters": {
												"Collection_name": {
													"value": "@pipeline().parameters.SRC_TBL",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ParquetFile",
											"type": "DatasetReference",
											"parameters": {
												"file_name": {
													"value": "@pipeline().parameters.SRC_TBL",
													"type": "Expression"
												},
												"path": {
													"value": "@pipeline().parameters.PATH",
													"type": "Expression"
												},
												"asatdt": {
													"value": "@pipeline().parameters.AS_AT_DT",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "MONGO_ML_Detector UPDATE COUNT TARGET",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "MONGO_ML_Detector",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
										"storedProcedureParameters": {
											"P_CNT_SRC": {
												"value": {
													"value": "@activity('MONGO_ML_Detector').output.rowsRead",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_CNT_TGT": {
												"value": {
													"value": "@activity('MONGO_ML_Detector').output.rowsCopied",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_LOAD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LOAD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "START",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								}
							]
						},
						{
							"value": "Case6",
							"activities": [
								{
									"name": "MONGO_CustGeo",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MongoDbV2Source",
											"batchSize": 100
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "MongoDb_CustGeo",
											"type": "DatasetReference",
											"parameters": {
												"Collection_name": {
													"value": "@pipeline().parameters.SRC_TBL",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ParquetFile",
											"type": "DatasetReference",
											"parameters": {
												"file_name": {
													"value": "@pipeline().parameters.SRC_TBL",
													"type": "Expression"
												},
												"path": {
													"value": "@pipeline().parameters.PATH",
													"type": "Expression"
												},
												"asatdt": {
													"value": "@pipeline().parameters.AS_AT_DT",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "MONGO_CustGeo UPDATE COUNT TARGET",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "MONGO_CustGeo",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
										"storedProcedureParameters": {
											"P_CNT_SRC": {
												"value": {
													"value": "@activity('MONGO_CustGeo').output.rowsRead",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_CNT_TGT": {
												"value": {
													"value": "@activity('MONGO_CustGeo').output.rowsCopied",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_LOAD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LOAD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "START",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "ABORT COPY",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT 1/0",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "ControlTable",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"STREAM_NM": {
				"type": "string",
				"defaultValue": "-999"
			},
			"SOURCE_CNT_STMT": {
				"type": "string",
				"defaultValue": "-999"
			},
			"P_LOAD_ID": {
				"type": "string",
				"defaultValue": "-999"
			},
			"P_PCS_NM": {
				"type": "string",
				"defaultValue": "-999"
			},
			"SOURCE_TABLE_STMT": {
				"type": "string",
				"defaultValue": "-999"
			},
			"SRC_TBL": {
				"type": "string",
				"defaultValue": "-999"
			},
			"PATH": {
				"type": "string",
				"defaultValue": "-999"
			},
			"AS_AT_DT": {
				"type": "string",
				"defaultValue": "-999"
			}
		},
		"folder": {
			"name": "COMMON JOB"
		},
		"annotations": []
	}
}