pipeline/SALES_PRED_RPT.json
{
	"name": "SALES_PRED_RPT",
	"properties": {
		"activities": [
			{
				"name": "SALES PREDICTION MODEL",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "START STREAM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/sbpdl_int_202006@outlook.com/Test1"
				},
				"linkedServiceName": {
					"referenceName": "Databrickslinked",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "START STREAM",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_CNTL_ACTV_STREAM]",
						"storedProcedureParameters": {
							"P_RUN_MODE": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_RUN_MODE",
									"type": "Expression"
								}
							},
							"P_STREAM_NM": {
								"type": "String",
								"value": {
									"value": "@variables('V_STREAM_NM')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ControlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SET STREAM_SEQ_ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "START STREAM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_STREAM_SEQ_ID",
					"value": {
						"value": "@activity('START STREAM').output.FIRSTROW.STREAM_SEQ_ID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET STREAM RESULT SUCCESS",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SALES PREDICTION MODEL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_STREAM_RESULT",
					"value": "1"
				}
			},
			{
				"name": "SET STREAM RESULT FAILED",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SALES PREDICTION MODEL",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_STREAM_RESULT",
					"value": "0"
				}
			},
			{
				"name": "GET EMAIL",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "UPDATE STREAM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_GET_EMAIL]",
						"storedProcedureParameters": {
							"P_STREAM_NM": {
								"type": "String",
								"value": {
									"value": "@variables('V_STREAM_NM')",
									"type": "Expression"
								}
							},
							"P_STREAM_RESULT": {
								"type": "String",
								"value": {
									"value": "@variables('V_STREAM_RESULT')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ControlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "SEND EMAIL",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GET EMAIL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "STREAM RESULT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-08.southeastasia.logic.azure.com:443/workflows/4d3633648b8e4170a54134728e1215fb/triggers/request/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Frequest%2Frun&sv=1.0&sig=H2ABmTH98dea6_SDk6_X9hSJ6NwxIun4UfYXoFTTdPQ",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n\"Message\":\"@{activity('STREAM RESULT').output.firstrow.a}\",\n\"EmailTo\":\"@{activity('GET EMAIL').output.firstrow.EMAIL}\",\n\"Asat_dt\":\"@{activity('UPDATE STREAM').output.firstrow.AS_AT_DT_FORMAT}\",\n\"StreamName\":\"@{variables('V_STREAM_NM')}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "STREAM RESULT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "UPDATE STREAM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_STREAM_RESULT]",
						"storedProcedureParameters": {
							"P_STREAM_NM": {
								"type": "String",
								"value": {
									"value": "@variables('V_STREAM_NM')",
									"type": "Expression"
								}
							},
							"P_STREAM_SEQ_ID": {
								"type": "String",
								"value": {
									"value": "@variables('V_STREAM_SEQ_ID')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ControlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "SALES PREDICTION MODEL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 7
				}
			},
			{
				"name": "UPDATE STREAM",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_UPD_STREAM]",
						"storedProcedureParameters": {
							"P_STREAM_NM": {
								"type": "String",
								"value": {
									"value": "@variables('V_STREAM_NM')",
									"type": "Expression"
								}
							},
							"P_STREAM_RESULT": {
								"type": "String",
								"value": {
									"value": "@variables('V_STREAM_RESULT')",
									"type": "Expression"
								}
							},
							"P_STREAM_SEQ_ID": {
								"type": "String",
								"value": {
									"value": "@variables('V_STREAM_SEQ_ID')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ControlTable",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"P_RUN_MODE": {
				"type": "string",
				"defaultValue": "R"
			}
		},
		"variables": {
			"V_STREAM_NM": {
				"type": "String",
				"defaultValue": "SALES_PRED"
			},
			"V_STREAM_SEQ_ID": {
				"type": "String",
				"defaultValue": "-999"
			},
			"V_STREAM_RESULT": {
				"type": "String",
				"defaultValue": "-999"
			},
			"V_AS_AT_DT": {
				"type": "String",
				"defaultValue": "19000101"
			}
		},
		"annotations": []
	}
}