pipeline/TEST PROCESS.json
{
	"name": "TEST PROCESS",
	"properties": {
		"description": " ",
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.P_AS_AT_DT",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "RUN_PCS_1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "ACTIVATE STREAM",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PCS_COMMON_1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"P_PROCESS_NM": {
										"value": "@pipeline().parameters.P_PCS_NM",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "ACTIVATE STREAM",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[CNTL].[PROC_CNTL_ACTV_INDV_PCS]",
								"storedProcedureParameters": {
									"P_AS_AT_DT": {
										"value": {
											"value": "@item()",
											"type": "Expression"
										},
										"type": "String"
									},
									"P_PCS_NM": {
										"value": {
											"value": "@pipeline().parameters.P_PCS_NM",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServer1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"P_AS_AT_DT": {
				"type": "array",
				"defaultValue": [
					999
				]
			},
			"P_PCS_NM": {
				"type": "string",
				"defaultValue": "999"
			}
		},
		"folder": {
			"name": "TEST"
		},
		"annotations": []
	}
}