pipeline/TEST EMAIL.json
{
	"name": "TEST EMAIL",
	"properties": {
		"activities": [
			{
				"name": "STREAM RESULT",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_STREAM_RESULT]",
						"storedProcedureParameters": {
							"P_STREAM_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.STREAM_NM",
									"type": "Expression"
								}
							},
							"P_STREAM_SEQ_ID": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.STRAM_SEQ_ID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ControlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "SEND EMAIL",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "STREAM RESULT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-08.southeastasia.logic.azure.com:443/workflows/4d3633648b8e4170a54134728e1215fb/triggers/request/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Frequest%2Frun&sv=1.0&sig=H2ABmTH98dea6_SDk6_X9hSJ6NwxIun4UfYXoFTTdPQ",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n\"EmailTo\":\"sbpdl_int_202006@outlook.com\",\n\"Message\":\"@{activity('STREAM RESULT').output.firstrow.a}\",\n\"Asat_dt\":\"Jan 02, 2020\",\n\"StreamName\":\"EDW\"}\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"STREAM_NM": {
				"type": "string",
				"defaultValue": "EDW"
			},
			"STRAM_SEQ_ID": {
				"type": "string",
				"defaultValue": "4"
			}
		},
		"annotations": []
	}
}