SBPDataFactory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SBPDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/OracleTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OracleTableForTest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostgreSqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PostgreSql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "PostgreSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CHECK SOURCE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "NetezzaSource",
								"query": "SELECT * FROM PROVINCE_PROFILE.T_PROVINCE_PROFILE_TRANSACTION_MODEL \nWHERE CAST(DATE AS DATE) = CAST('2018-01-14' AS DATE) ",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "NetezzaTable",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RUN_PCS_3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "COPY",
						"type": "Switch",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@pipeline().parameters.STREAM_NM",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "EDW",
									"activities": [
										{
											"name": "EDW",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "EDW UPDATE COUNT SOURCE",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "NetezzaSource",
													"query": {
														"value": "@pipeline().parameters.SOURCE_TABLE_STMT",
														"type": "Expression"
													},
													"partitionOption": "None"
												},
												"sink": {
													"type": "ParquetSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "NetezzaTable",
													"type": "DatasetReference",
													"parameters": {}
												}
											],
											"outputs": [
												{
													"referenceName": "ParquetFile",
													"type": "DatasetReference",
													"parameters": {
														"file_name": {
															"value": "@pipeline().parameters.SRC_TBL",
															"type": "Expression"
														},
														"path": {
															"value": "@pipeline().parameters.PATH",
															"type": "Expression"
														},
														"asatdt": {
															"value": "@pipeline().parameters.AS_AT_DT",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "EDW COUNT SOURCE",
											"type": "Lookup",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "NetezzaSource",
													"query": {
														"value": "@pipeline().parameters.SOURCE_CNT_STMT",
														"type": "Expression"
													},
													"partitionOption": "DataSlice"
												},
												"dataset": {
													"referenceName": "NetezzaTable",
													"type": "DatasetReference",
													"parameters": {}
												}
											}
										},
										{
											"name": "EDW UPDATE COUNT SOURCE",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "EDW COUNT SOURCE",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('EDW COUNT SOURCE').output.FIRSTROW.COUNT",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": null,
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										},
										{
											"name": "EDW UPDATE COUNT TARGET",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "EDW",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('EDW COUNT SOURCE').output.FIRSTROW.COUNT",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": {
															"value": "@activity('EDW').output.rowsCopied",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										}
									]
								},
								{
									"value": "POSTGRE_STAGING",
									"activities": [
										{
											"name": "POSTGRE_STAGING COUNT SOURCE",
											"type": "Lookup",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "PostgreSqlSource",
													"query": {
														"value": "@pipeline().parameters.SOURCE_CNT_STMT",
														"type": "Expression"
													}
												},
												"dataset": {
													"referenceName": "PostgreSqlTable",
													"type": "DatasetReference",
													"parameters": {}
												}
											}
										},
										{
											"name": "POSTGRE_STAGING UPDATE COUNT SOURCE",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "POSTGRE_STAGING COUNT SOURCE",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('POSTGRE_STAGING COUNT SOURCE').output.FIRSTROW.COUNT",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": null,
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										},
										{
											"name": "POSTGRE_STAGING",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "POSTGRE_STAGING UPDATE COUNT SOURCE",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "PostgreSqlSource",
													"query": {
														"value": "@pipeline().parameters.SOURCE_TABLE_STMT",
														"type": "Expression"
													}
												},
												"sink": {
													"type": "ParquetSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "PostgreSqlTable",
													"type": "DatasetReference",
													"parameters": {}
												}
											],
											"outputs": [
												{
													"referenceName": "ParquetFile",
													"type": "DatasetReference",
													"parameters": {
														"file_name": {
															"value": "@pipeline().parameters.SRC_TBL",
															"type": "Expression"
														},
														"path": {
															"value": "@pipeline().parameters.PATH",
															"type": "Expression"
														},
														"asatdt": {
															"value": "@pipeline().parameters.AS_AT_DT",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "POSTGRE_STAGING UPDATE COUNT TARGET",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "POSTGRE_STAGING",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('POSTGRE_STAGING COUNT SOURCE').output.FIRSTROW.COUNT",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": {
															"value": "@activity('POSTGRE_STAGING').output.rowsCopied",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										}
									]
								},
								{
									"value": "DV",
									"activities": [
										{
											"name": "DV COUNT SOURCE",
											"type": "Lookup",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "NetezzaSource",
													"query": {
														"value": "@pipeline().parameters.SOURCE_CNT_STMT",
														"type": "Expression"
													},
													"partitionOption": "DataSlice"
												},
												"dataset": {
													"referenceName": "NetezzaTable",
													"type": "DatasetReference",
													"parameters": {}
												}
											}
										},
										{
											"name": "DV UPDATE COUNT SOURCE",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "DV COUNT SOURCE",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('DV COUNT SOURCE').output.FIRSTROW.COUNT",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": null,
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										},
										{
											"name": "DV",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "DV UPDATE COUNT SOURCE",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "NetezzaSource",
													"query": {
														"value": "@pipeline().parameters.SOURCE_TABLE_STMT",
														"type": "Expression"
													},
													"partitionOption": "None"
												},
												"sink": {
													"type": "ParquetSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "NetezzaTable",
													"type": "DatasetReference",
													"parameters": {}
												}
											],
											"outputs": [
												{
													"referenceName": "ParquetFile",
													"type": "DatasetReference",
													"parameters": {
														"file_name": {
															"value": "@pipeline().parameters.SRC_TBL",
															"type": "Expression"
														},
														"path": {
															"value": "@pipeline().parameters.PATH",
															"type": "Expression"
														},
														"asatdt": {
															"value": "@pipeline().parameters.AS_AT_DT",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "DV UPDATE COUNT TARGET",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "DV",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('DV COUNT SOURCE').output.FIRSTROW.COUNT",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": {
															"value": "@activity('DV').output.rowsCopied",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										}
									]
								},
								{
									"value": "ORACLE",
									"activities": [
										{
											"name": "ORACLE COUNT SOURCE",
											"type": "Lookup",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "OracleSource",
													"oracleReaderQuery": {
														"value": "@pipeline().parameters.SOURCE_CNT_STMT",
														"type": "Expression"
													},
													"partitionOption": "None",
													"queryTimeout": "02:00:00"
												},
												"dataset": {
													"referenceName": "OracleTable",
													"type": "DatasetReference",
													"parameters": {}
												}
											}
										},
										{
											"name": "ORACLE UPDATE COUNT SOURCE",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "ORACLE COUNT SOURCE",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('ORACLE COUNT SOURCE').output.FIRSTROW.COUNT",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": null,
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										},
										{
											"name": "ORACLE",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "ORACLE UPDATE COUNT SOURCE",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "OracleSource",
													"oracleReaderQuery": {
														"value": "@pipeline().parameters.SOURCE_TABLE_STMT",
														"type": "Expression"
													},
													"partitionOption": "None",
													"queryTimeout": "02:00:00"
												},
												"sink": {
													"type": "ParquetSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "OracleTable",
													"type": "DatasetReference",
													"parameters": {}
												}
											],
											"outputs": [
												{
													"referenceName": "ParquetFile",
													"type": "DatasetReference",
													"parameters": {
														"file_name": {
															"value": "@pipeline().parameters.SRC_TBL",
															"type": "Expression"
														},
														"path": {
															"value": "@pipeline().parameters.PATH",
															"type": "Expression"
														},
														"asatdt": {
															"value": "@pipeline().parameters.AS_AT_DT",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "ORACLE UPDATE COUNT TARGET",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "ORACLE",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('ORACLE COUNT SOURCE').output.FIRSTROW.COUNT",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": {
															"value": "@activity('ORACLE').output.rowsCopied",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										}
									]
								},
								{
									"value": "MONGO_ML_Detector",
									"activities": [
										{
											"name": "MONGO_ML_Detector",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "MongoDbV2Source",
													"batchSize": 100
												},
												"sink": {
													"type": "ParquetSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "MongoDb_CustGeo",
													"type": "DatasetReference",
													"parameters": {
														"Collection_name": {
															"value": "@pipeline().parameters.SRC_TBL",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "ParquetFile",
													"type": "DatasetReference",
													"parameters": {
														"file_name": {
															"value": "@pipeline().parameters.SRC_TBL",
															"type": "Expression"
														},
														"path": {
															"value": "@pipeline().parameters.PATH",
															"type": "Expression"
														},
														"asatdt": {
															"value": "@pipeline().parameters.AS_AT_DT",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "MONGO_ML_Detector UPDATE COUNT TARGET",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "MONGO_ML_Detector",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('MONGO_ML_Detector').output.rowsRead",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": {
															"value": "@activity('MONGO_ML_Detector').output.rowsCopied",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										}
									]
								},
								{
									"value": "MONGO_CustGeo",
									"activities": [
										{
											"name": "MONGO_CustGeo",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "MongoDbV2Source",
													"batchSize": 100
												},
												"sink": {
													"type": "ParquetSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "MongoDb_CustGeo",
													"type": "DatasetReference",
													"parameters": {
														"Collection_name": {
															"value": "@pipeline().parameters.SRC_TBL",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "ParquetFile",
													"type": "DatasetReference",
													"parameters": {
														"file_name": {
															"value": "@pipeline().parameters.SRC_TBL",
															"type": "Expression"
														},
														"path": {
															"value": "@pipeline().parameters.PATH",
															"type": "Expression"
														},
														"asatdt": {
															"value": "@pipeline().parameters.AS_AT_DT",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "MONGO_CustGeo UPDATE COUNT TARGET",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "MONGO_CustGeo",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('MONGO_CustGeo').output.rowsRead",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": {
															"value": "@activity('MONGO_CustGeo').output.rowsCopied",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										}
									]
								}
							],
							"defaultActivities": [
								{
									"name": "ABORT COPY",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1/0",
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "ControlTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"STREAM_NM": {
						"type": "string",
						"defaultValue": "-999"
					},
					"SOURCE_CNT_STMT": {
						"type": "string",
						"defaultValue": "-999"
					},
					"P_LOAD_ID": {
						"type": "string",
						"defaultValue": "-999"
					},
					"P_PCS_NM": {
						"type": "string",
						"defaultValue": "-999"
					},
					"SOURCE_TABLE_STMT": {
						"type": "string",
						"defaultValue": "-999"
					},
					"SRC_TBL": {
						"type": "string",
						"defaultValue": "-999"
					},
					"PATH": {
						"type": "string",
						"defaultValue": "-999"
					},
					"AS_AT_DT": {
						"type": "string",
						"defaultValue": "-999"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PostgreSqlTable')]",
				"[concat(variables('factoryId'), '/datasets/OracleTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RUN_PCS_2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CHECK PROCESS INFORMATION",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GET PROCESS INFORMATION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('GET PROCESS INFORMATION').output.FIRSTROW.CHECK_DATA_FLAG,'1')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "ABORT CHECK PROCESS INFORMATION",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1/0",
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "ControlTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "PASS CHECK PROCESS INFORMATION",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1",
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "ControlTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							]
						}
					},
					{
						"name": "UPDATE FAILED ON PROCESS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CHECK PROCESS INFORMATION",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
							"storedProcedureParameters": {
								"P_CNT_SRC": {
									"value": null,
									"type": "String"
								},
								"P_CNT_TGT": {
									"value": null,
									"type": "String"
								},
								"P_LOAD_ID": {
									"value": {
										"value": "@pipeline().parameters.P_LOAD_ID",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_PCS_NM": {
									"value": {
										"value": "@pipeline().parameters.P_PCS_NM",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_RMRK": {
									"value": "PROCESS NOT AVAILABLE",
									"type": "String"
								},
								"P_ST": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CHECK STREAM INFORMATION",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SET STREAM DATE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('GET STREAM DATE').output.FIRSTROW.CHECK_STREAM_F,'1')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "ABORT CHECK STREAM INFORMATION",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1/0",
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "ControlTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "PASS CHECK STREAM INFORMATION",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1",
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "ControlTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							]
						}
					},
					{
						"name": "CHECK LATEST LOG",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GET LATEST LOG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('GET LATEST LOG').output.FIRSTROW.LTST_LOG_F,'1')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "ABORT CHECK LATEST LOG",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1/0",
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "ControlTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "PASS CHECK LATEST LOG",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1",
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "ControlTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							]
						}
					},
					{
						"name": "GET PROCESS INFORMATION",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_GET_PCS]",
								"storedProcedureParameters": {
									"P_PCS_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PCS_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "ControlTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "GET STREAM DATE",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SET STREAM_NM",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SET FILE_PATH",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SET FILE_NAME",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_GET_STREAM_DT]",
								"storedProcedureParameters": {
									"P_PCS_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PCS_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "ControlTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SET STREAM DATE",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET STREAM DATE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AS_AT_DT",
							"value": {
								"value": "@activity('GET STREAM DATE').output.FIRSTROW.AS_AT_DT",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CHECK DNDP",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GET DNDP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('GET DNDP').output.FIRSTROW.DPND_F,'1')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "ABORT CHECK DNDP",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1/0",
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "ControlTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "PASS CHECK DNDP",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1",
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "ControlTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							]
						}
					},
					{
						"name": "GET LATEST LOG",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CHECK STREAM INFORMATION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_CHK_LTST_PCS]",
								"storedProcedureParameters": {
									"P_LOAD_ID": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_LOAD_ID",
											"type": "Expression"
										}
									},
									"P_PCS_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PCS_NM",
											"type": "Expression"
										}
									},
									"P_RUN_MODE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_RUN_MODE",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "ControlTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "GET DNDP",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CHECK LATEST LOG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_CHK_DPND_PCS]",
								"storedProcedureParameters": {
									"P_AS_AT_DT": {
										"type": "String",
										"value": {
											"value": "@variables('AS_AT_DT')",
											"type": "Expression"
										}
									},
									"P_LOAD_ID": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_LOAD_ID",
											"type": "Expression"
										}
									},
									"P_PCS_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PCS_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "ControlTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "UPDATE FAILED ON STREAM",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CHECK STREAM INFORMATION",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
							"storedProcedureParameters": {
								"P_CNT_SRC": {
									"value": null,
									"type": "String"
								},
								"P_CNT_TGT": {
									"value": null,
									"type": "String"
								},
								"P_LOAD_ID": {
									"value": {
										"value": "@pipeline().parameters.P_LOAD_ID",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_PCS_NM": {
									"value": {
										"value": "@pipeline().parameters.P_PCS_NM",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_RMRK": {
									"value": "STREAM NOT AVAILABLE",
									"type": "String"
								},
								"P_ST": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UPDATE FAILED ON LATEST LOG",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CHECK LATEST LOG",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
							"storedProcedureParameters": {
								"P_CNT_SRC": {
									"value": null,
									"type": "String"
								},
								"P_CNT_TGT": {
									"value": null,
									"type": "String"
								},
								"P_LOAD_ID": {
									"value": {
										"value": "@pipeline().parameters.P_LOAD_ID",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_PCS_NM": {
									"value": {
										"value": "@pipeline().parameters.P_PCS_NM",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_RMRK": {
									"value": "PREVIOUS CYCLE PROCESS DID NOT COMPLETE",
									"type": "String"
								},
								"P_ST": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UPDATE FAILED ON DEPENDENCIES",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CHECK DNDP",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
							"storedProcedureParameters": {
								"P_CNT_SRC": {
									"value": null,
									"type": "String"
								},
								"P_CNT_TGT": {
									"value": null,
									"type": "String"
								},
								"P_LOAD_ID": {
									"value": {
										"value": "@pipeline().parameters.P_LOAD_ID",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_PCS_NM": {
									"value": {
										"value": "@pipeline().parameters.P_PCS_NM",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_RMRK": {
									"value": "CHECKING DEPENDENCY FAILED",
									"type": "String"
								},
								"P_ST": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "GET RECONCILE",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "COPY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_CHK_RECONCILE]",
								"storedProcedureParameters": {
									"P_LOAD_ID": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_LOAD_ID",
											"type": "Expression"
										}
									},
									"P_PCS_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PCS_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "ControlTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "CHECK RECONCILE",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GET RECONCILE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('GET RECONCILE').output.FIRSTROW.RECONCILE_F,'1')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "ABORT CHECK RECONCILE",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1/0",
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "ControlTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							]
						}
					},
					{
						"name": "UPDATE SUCCESS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CHECK RECONCILE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
							"storedProcedureParameters": {
								"P_CNT_SRC": {
									"value": {
										"value": "@activity('GET RECONCILE').output.firstrow.CNT_SRC",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_CNT_TGT": {
									"value": {
										"value": "@activity('GET RECONCILE').output.firstrow.CNT_TGT",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_LOAD_ID": {
									"value": {
										"value": "@pipeline().parameters.P_LOAD_ID",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_PCS_NM": {
									"value": {
										"value": "@pipeline().parameters.P_PCS_NM",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_RMRK": {
									"value": null,
									"type": "String"
								},
								"P_ST": {
									"value": "SUCCESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UPDATE FAILED ON RECONCILE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CHECK RECONCILE",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
							"storedProcedureParameters": {
								"P_CNT_SRC": {
									"value": {
										"value": "@activity('GET RECONCILE').output.firstrow.CNT_SRC",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_CNT_TGT": {
									"value": {
										"value": "@activity('GET RECONCILE').output.firstrow.CNT_TGT",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_LOAD_ID": {
									"value": {
										"value": "@pipeline().parameters.P_LOAD_ID",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_PCS_NM": {
									"value": {
										"value": "@pipeline().parameters.P_PCS_NM",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_RMRK": {
									"value": "RECONCILE FAILED",
									"type": "String"
								},
								"P_ST": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UPDATE FAILED ON COPY ACTIVITY",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "COPY",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
							"storedProcedureParameters": {
								"P_CNT_SRC": {
									"value": null,
									"type": "String"
								},
								"P_CNT_TGT": {
									"value": null,
									"type": "String"
								},
								"P_LOAD_ID": {
									"value": {
										"value": "@pipeline().parameters.P_LOAD_ID",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_PCS_NM": {
									"value": {
										"value": "@pipeline().parameters.P_PCS_NM",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_RMRK": {
									"value": "COPY ACTIVITY FAILED",
									"type": "String"
								},
								"P_ST": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "GET SELECT STATEMEMT",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CHECK DNDP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_GET_SELECT_STMT]",
								"storedProcedureParameters": {
									"P_AS_AT_DT": {
										"type": "String",
										"value": {
											"value": "@variables('AS_AT_DT')",
											"type": "Expression"
										}
									},
									"P_PCS_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PCS_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "ControlTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "GET SOURCE COUNT",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GET SELECT STATEMEMT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_GET_SRC_COUNT]",
								"storedProcedureParameters": {
									"P_AS_AT_DT": {
										"type": "String",
										"value": {
											"value": "@variables('AS_AT_DT')",
											"type": "Expression"
										}
									},
									"P_PCS_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PCS_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "ControlTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "COPY",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "GET SOURCE COUNT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "RUN_PCS_3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"STREAM_NM": {
									"value": "@variables('STREAM_NM')",
									"type": "Expression"
								},
								"SOURCE_CNT_STMT": {
									"value": "@activity('GET SOURCE COUNT').output.firstrow.SRC_COUNT",
									"type": "Expression"
								},
								"P_LOAD_ID": {
									"value": "@pipeline().parameters.P_LOAD_ID",
									"type": "Expression"
								},
								"P_PCS_NM": {
									"value": "@pipeline().parameters.P_PCS_NM",
									"type": "Expression"
								},
								"SOURCE_TABLE_STMT": {
									"value": "@activity('GET SELECT STATEMEMT').output.firstrow.SELECT_STMT",
									"type": "Expression"
								},
								"SRC_TBL": {
									"value": "@variables('FILE_NAME')",
									"type": "Expression"
								},
								"PATH": {
									"value": "@variables('FILE_PATH')",
									"type": "Expression"
								},
								"AS_AT_DT": {
									"value": "@variables('AS_AT_DT')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SET FILE_NAME",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "CHECK PROCESS INFORMATION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "FILE_NAME",
							"value": {
								"value": "@activity('GET PROCESS INFORMATION').output.firstrow.SRC_TBL",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SET FILE_PATH",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "CHECK PROCESS INFORMATION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "FILE_PATH",
							"value": {
								"value": "@activity('GET PROCESS INFORMATION').output.firstrow.PATH",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SET STREAM_NM",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "CHECK PROCESS INFORMATION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "STREAM_NM",
							"value": {
								"value": "@activity('GET PROCESS INFORMATION').output.firstrow.STREAM_NM",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"P_PCS_NM": {
						"type": "string",
						"defaultValue": "SINGHAARM_SINGHAARM_AGENT"
					},
					"P_RUN_MODE": {
						"type": "string",
						"defaultValue": "R"
					},
					"P_LOAD_ID": {
						"type": "string",
						"defaultValue": "999"
					}
				},
				"variables": {
					"SKIP_PROCESS": {
						"type": "String",
						"defaultValue": "0"
					},
					"AS_AT_DT": {
						"type": "String",
						"defaultValue": "999"
					},
					"FILE_NAME": {
						"type": "String",
						"defaultValue": "-999"
					},
					"STREAM_NM": {
						"type": "String",
						"defaultValue": "-999"
					},
					"FILE_PATH": {
						"type": "String",
						"defaultValue": "-999"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/RUN_PCS_3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RUN_PCS_1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "INSERT PROCESS LOG",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_CNTL_START_PCS]",
								"storedProcedureParameters": {
									"P_PCS_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PROCESS_NM",
											"type": "Expression"
										}
									},
									"P_RUN_MODE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_RUN_MODE",
											"type": "Expression"
										}
									},
									"P_SKIP_F": {
										"type": "String",
										"value": {
											"value": "@variables('SKIP_PROCESS')",
											"type": "Expression"
										}
									},
									"P_STREAM_SEQ_ID": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREAM_SEQ_ID",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "ControlTable",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "GET SKIP FLAG",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "INSERT PROCESS LOG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "SKIP_PROCESS",
							"value": {
								"value": "@activity('INSERT PROCESS LOG').output.FIRSTROW.SKIP_PROCESS",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CHECK SKIP FLAG",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GET SKIP FLAG",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "GET LOAD PROCESS ID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('SKIP_PROCESS'),'0')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SKIP PROCESS",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1",
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "ControlTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "RUN_PCS_2",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "RUN_PCS_2",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_PCS_NM": {
												"value": "@pipeline().parameters.P_PROCESS_NM",
												"type": "Expression"
											},
											"P_RUN_MODE": {
												"value": "@pipeline().parameters.P_RUN_MODE",
												"type": "Expression"
											},
											"P_LOAD_ID": {
												"value": "@variables('LOAD_ID')",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "GET LOAD PROCESS ID",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "INSERT PROCESS LOG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "LOAD_ID",
							"value": {
								"value": "@activity('INSERT PROCESS LOG').output.FIRSTROW.LOAD_ID",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"P_PROCESS_NM": {
						"type": "string",
						"defaultValue": "SINGHAARM_SINGHAARM_AGENT"
					},
					"P_RUN_MODE": {
						"type": "string",
						"defaultValue": "R"
					},
					"P_STREAM_SEQ_ID": {
						"type": "string",
						"defaultValue": "-999"
					}
				},
				"variables": {
					"SKIP_PROCESS": {
						"type": "String",
						"defaultValue": "999"
					},
					"LOAD_ID": {
						"type": "String",
						"defaultValue": "999"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/RUN_PCS_2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RUN_STREAM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SET PROCESS LIST",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET PROCESS LIST",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SET AS_AT_DT",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SET STREAM_SEQ_ID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PCS_NM_LIST",
							"value": {
								"value": "@activity('GET PROCESS LIST').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GET PROCESS LIST",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "START STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_GET_PCS_STREAM]",
								"storedProcedureParameters": {
									"P_STREAM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.STREAM_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "ControlTable",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FOR EACH PROCESS",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "SET PROCESS LIST",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('PCS_NM_LIST')",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 20,
							"activities": [
								{
									"name": "RUN_PCS_1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "RUN_PCS_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_PROCESS_NM": {
												"value": "@item().PCS_NM",
												"type": "Expression"
											},
											"P_RUN_MODE": {
												"value": "@pipeline().parameters.RUN_MODE",
												"type": "Expression"
											},
											"P_STREAM_SEQ_ID": {
												"value": "@variables('STREAM_SEQ_ID')",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "STREAM RESULT",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "FINAL STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_STREAM_RESULT]",
								"storedProcedureParameters": {
									"P_STREAM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.STREAM_NM",
											"type": "Expression"
										}
									},
									"P_STREAM_SEQ_ID": {
										"type": "String",
										"value": {
											"value": "@variables('STREAM_SEQ_ID')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "ControlTable",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "FINAL STREAM",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "FOR EACH PROCESS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_FINAL_STREAM]",
								"storedProcedureParameters": {
									"P_AS_AT_DT": {
										"type": "String",
										"value": {
											"value": "@variables('AS_AT_DT')",
											"type": "Expression"
										}
									},
									"P_STREAM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.STREAM_NM",
											"type": "Expression"
										}
									},
									"P_STREAM_SEQ_ID": {
										"type": "String",
										"value": {
											"value": "@variables('STREAM_SEQ_ID')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "ControlTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SEND EMAIL",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "GET EMAIL",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "STREAM RESULT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-08.southeastasia.logic.azure.com:443/workflows/4d3633648b8e4170a54134728e1215fb/triggers/request/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Frequest%2Frun&sv=1.0&sig=H2ABmTH98dea6_SDk6_X9hSJ6NwxIun4UfYXoFTTdPQ",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\n\"Message\":\"@{activity('STREAM RESULT').output.firstrow.a}\",\n\"EmailTo\":\"@{activity('GET EMAIL').output.firstrow.EMAIL}\",\n\"Asat_dt\":\"@{activity('FINAL STREAM').output.firstrow.AS_AT_DT_FORMAT}\",\n\"StreamName\":\"@{pipeline().parameters.STREAM_NM}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GET EMAIL",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "FINAL STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_GET_EMAIL]",
								"storedProcedureParameters": {
									"P_STREAM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.STREAM_NM",
											"type": "Expression"
										}
									},
									"P_STREAM_RESULT": {
										"type": "String",
										"value": {
											"value": "@activity('FINAL STREAM').output.FIRSTROW.STREAM_RESULT",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "ControlTable",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "SET AS_AT_DT",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "START STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AS_AT_DT",
							"value": {
								"value": "@activity('START STREAM').output.FIRSTROW.AS_AT_DT",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SET STREAM_SEQ_ID",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "START STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "STREAM_SEQ_ID",
							"value": {
								"value": "@activity('START STREAM').output.FIRSTROW.STREAM_SEQ_ID",
								"type": "Expression"
							}
						}
					},
					{
						"name": "START STREAM",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_CNTL_ACTV_STREAM]",
								"storedProcedureParameters": {
									"P_RUN_MODE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.RUN_MODE",
											"type": "Expression"
										}
									},
									"P_STREAM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.STREAM_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "ControlTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"parameters": {
					"STREAM_NM": {
						"type": "string",
						"defaultValue": "ORACLE"
					},
					"RUN_MODE": {
						"type": "string",
						"defaultValue": "R"
					}
				},
				"variables": {
					"STREAM_RESULT": {
						"type": "String",
						"defaultValue": "-999"
					},
					"PCS_NM_LIST": {
						"type": "Array",
						"defaultValue": [
							999
						]
					},
					"AS_AT_DT": {
						"type": "String",
						"defaultValue": "19000101"
					},
					"STREAM_SEQ_ID": {
						"type": "String",
						"defaultValue": "-999"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/RUN_PCS_1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TEST PROCESS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.P_AS_AT_DT",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "RUN_PCS_1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ACTIVATE STREAM",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "RUN_PCS_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_PROCESS_NM": {
												"value": "@pipeline().parameters.P_PCS_NM",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "ACTIVATE STREAM",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CNTL].[PROC_CNTL_ACTV_INDV_PCS]",
										"storedProcedureParameters": {
											"P_AS_AT_DT": {
												"value": {
													"value": "@item()",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PCS_NM",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"P_AS_AT_DT": {
						"type": "array",
						"defaultValue": [
							999
						]
					},
					"P_PCS_NM": {
						"type": "string",
						"defaultValue": "999"
					}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/RUN_PCS_1')]"
			]
		}
	]
}