SBPDataFactory/PartialArmTemplates/ArmTemplate_7_23_2020_18_32_35.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SBPDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PCS_COMMON_3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "COPY",
						"type": "Switch",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@pipeline().parameters.P_CONNECTION_NM",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "EDW",
									"activities": [
										{
											"name": "EDW",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "EDW UPDATE COUNT SOURCE",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "NetezzaSource",
													"query": {
														"value": "@pipeline().parameters.P_SOURCE_TABLE_STMT",
														"type": "Expression"
													},
													"partitionOption": "None"
												},
												"sink": {
													"type": "ParquetSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "NetezzaTable",
													"type": "DatasetReference"
												}
											],
											"outputs": [
												{
													"referenceName": "ParquetFile",
													"type": "DatasetReference",
													"parameters": {
														"file_name": {
															"value": "@pipeline().parameters.P_SRC_TBL",
															"type": "Expression"
														},
														"path": {
															"value": "@pipeline().parameters.P_PATH",
															"type": "Expression"
														},
														"asatdt": {
															"value": "@pipeline().parameters.P_AS_AT_DT",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "EDW COUNT SOURCE",
											"type": "Lookup",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "NetezzaSource",
													"query": {
														"value": "@pipeline().parameters.P_SOURCE_CNT_STMT",
														"type": "Expression"
													},
													"partitionOption": "DataSlice"
												},
												"dataset": {
													"referenceName": "NetezzaTable",
													"type": "DatasetReference"
												}
											}
										},
										{
											"name": "EDW UPDATE COUNT SOURCE",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "EDW COUNT SOURCE",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('EDW COUNT SOURCE').output.FIRSTROW.COUNT",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": null,
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										},
										{
											"name": "EDW UPDATE COUNT TARGET",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "EDW",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('EDW COUNT SOURCE').output.FIRSTROW.COUNT",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": {
															"value": "@activity('EDW').output.rowsCopied",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										}
									]
								},
								{
									"value": "ORACLE",
									"activities": [
										{
											"name": "ORACLE COUNT SOURCE",
											"type": "Lookup",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "OracleSource",
													"oracleReaderQuery": {
														"value": "@pipeline().parameters.P_SOURCE_CNT_STMT",
														"type": "Expression"
													},
													"partitionOption": "None",
													"queryTimeout": "02:00:00"
												},
												"dataset": {
													"referenceName": "OracleTable",
													"type": "DatasetReference"
												}
											}
										},
										{
											"name": "ORACLE UPDATE COUNT SOURCE",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "ORACLE COUNT SOURCE",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('ORACLE COUNT SOURCE').output.FIRSTROW.COUNT",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": null,
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										},
										{
											"name": "ORACLE",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "ORACLE UPDATE COUNT SOURCE",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "OracleSource",
													"oracleReaderQuery": {
														"value": "@pipeline().parameters.P_SOURCE_TABLE_STMT",
														"type": "Expression"
													},
													"partitionOption": "None",
													"queryTimeout": "02:00:00"
												},
												"sink": {
													"type": "ParquetSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "OracleTable",
													"type": "DatasetReference"
												}
											],
											"outputs": [
												{
													"referenceName": "ParquetFile",
													"type": "DatasetReference",
													"parameters": {
														"file_name": {
															"value": "@pipeline().parameters.P_SRC_TBL",
															"type": "Expression"
														},
														"path": {
															"value": "@pipeline().parameters.P_PATH",
															"type": "Expression"
														},
														"asatdt": {
															"value": "@pipeline().parameters.P_AS_AT_DT",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "ORACLE UPDATE COUNT TARGET",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "ORACLE",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('ORACLE COUNT SOURCE').output.FIRSTROW.COUNT",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": {
															"value": "@activity('ORACLE').output.rowsCopied",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										}
									]
								},
								{
									"value": "EDW_TXN",
									"activities": [
										{
											"name": "PCS_CUSTOM_EDW_TXN",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "PCS_CUSTOM_EDW_TXN",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"P_SRC_TBL": {
														"value": "@pipeline().parameters.P_SRC_TBL",
														"type": "Expression"
													},
													"P_PATH": {
														"value": "@pipeline().parameters.P_PATH",
														"type": "Expression"
													},
													"P_AS_AT_DT": {
														"value": "@pipeline().parameters.P_AS_AT_DT",
														"type": "Expression"
													},
													"P_PCS_NM": {
														"value": "@pipeline().parameters.P_PCS_NM",
														"type": "Expression"
													},
													"P_SOURCE_CNT_STMT": {
														"value": "@pipeline().parameters.P_SOURCE_CNT_STMT",
														"type": "Expression"
													},
													"P_LOAD_ID": {
														"value": "@pipeline().parameters.P_LOAD_ID",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "MONGO",
									"activities": [
										{
											"name": "PCS_CUSTOM_MONGO",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "PCS_CUSTOM_MONGO",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"P_SRC_TBL": {
														"value": "@pipeline().parameters.P_SRC_TBL",
														"type": "Expression"
													},
													"P_PATH": {
														"value": "@pipeline().parameters.P_PATH",
														"type": "Expression"
													},
													"P_AS_AT_DT": {
														"value": "@pipeline().parameters.P_AS_AT_DT",
														"type": "Expression"
													},
													"P_LOAD_ID": {
														"value": "@pipeline().parameters.P_LOAD_ID",
														"type": "Expression"
													},
													"P_PCS_NM": {
														"value": "@pipeline().parameters.P_PCS_NM",
														"type": "Expression"
													}
												}
											}
										}
									]
								}
							],
							"defaultActivities": [
								{
									"name": "ABORT COPY",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1/0",
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "ControlTable",
											"type": "DatasetReference"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"P_STREAM_NM": {
						"type": "string",
						"defaultValue": "MONGO_CustGeo"
					},
					"P_SOURCE_CNT_STMT": {
						"type": "string",
						"defaultValue": "-999"
					},
					"P_LOAD_ID": {
						"type": "string",
						"defaultValue": "-999"
					},
					"P_PCS_NM": {
						"type": "string",
						"defaultValue": "GET_LOCATION_FACE_RECOGNITION_CustGeoInfo"
					},
					"P_SOURCE_TABLE_STMT": {
						"type": "string",
						"defaultValue": "-999"
					},
					"P_SRC_TBL": {
						"type": "string",
						"defaultValue": "CustGeoInfo"
					},
					"P_PATH": {
						"type": "string",
						"defaultValue": "getlocationfacerecognition"
					},
					"P_AS_AT_DT": {
						"type": "string",
						"defaultValue": "-999"
					},
					"P_CONNECTION_NM": {
						"type": "string",
						"defaultValue": "-999"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PCS_CUSTOM_MONGO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PCS_CUSTOM_MONGO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Switch1",
						"type": "Switch",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@pipeline().parameters.P_SRC_TBL",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "MapFaceRegFaceExtention",
									"activities": [
										{
											"name": "COPY MapFaceRegFaceExtention",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "MongoDbV2Source",
													"batchSize": 100
												},
												"sink": {
													"type": "ParquetSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													}
												},
												"enableStaging": false,
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"path": "$['_id']['$oid']"
															},
															"sink": {
																"name": "_id",
																"type": "String"
															}
														},
														{
															"source": {
																"path": "$['faceRecId']"
															},
															"sink": {
																"name": "faceRecId",
																"type": "String"
															}
														},
														{
															"source": {
																"path": "$['faceExtenId']"
															},
															"sink": {
																"name": "faceExtenId",
																"type": "String"
															}
														}
													]
												}
											},
											"inputs": [
												{
													"referenceName": "MongoDb_ML_Detector",
													"type": "DatasetReference",
													"parameters": {
														"Collection_name": "MapFaceRegFaceExtention"
													}
												}
											],
											"outputs": [
												{
													"referenceName": "ParquetFile",
													"type": "DatasetReference",
													"parameters": {
														"file_name": {
															"value": "@pipeline().parameters.P_SRC_TBL",
															"type": "Expression"
														},
														"path": {
															"value": "@pipeline().parameters.P_PATH",
															"type": "Expression"
														},
														"asatdt": {
															"value": "@pipeline().parameters.P_AS_AT_DT",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "MapFaceRegFaceExtention UPDATE COUNT TARGET",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "COPY MapFaceRegFaceExtention",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('COPY MapFaceRegFaceExtention').output.rowsRead",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": {
															"value": "@activity('COPY MapFaceRegFaceExtention').output.rowsCopied",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										}
									]
								},
								{
									"value": "FaceExtension",
									"activities": [
										{
											"name": "COPY FaceExtension",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "MongoDbV2Source",
													"batchSize": 100
												},
												"sink": {
													"type": "ParquetSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													}
												},
												"enableStaging": false,
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"path": "$['_id']['$oid']"
															},
															"sink": {
																"name": "_id",
																"type": "String"
															}
														},
														{
															"source": {
																"path": "$['Timestamp']"
															},
															"sink": {
																"name": "Timestamp",
																"type": "Int64"
															}
														},
														{
															"source": {
																"path": "$['base64']"
															},
															"sink": {
																"name": "base64",
																"type": "String"
															}
														},
														{
															"source": {
																"path": "$['detectResult']"
															},
															"sink": {
																"name": "detectResult"
															}
														},
														{
															"source": {
																"path": "$['__v']"
															},
															"sink": {
																"name": "__v",
																"type": "Int64"
															}
														}
													],
													"mapComplexValuesToString": true
												}
											},
											"inputs": [
												{
													"referenceName": "MongoDb_ML_Detector",
													"type": "DatasetReference",
													"parameters": {
														"Collection_name": "FaceExtension"
													}
												}
											],
											"outputs": [
												{
													"referenceName": "ParquetFile",
													"type": "DatasetReference",
													"parameters": {
														"file_name": {
															"value": "@pipeline().parameters.P_SRC_TBL",
															"type": "Expression"
														},
														"path": {
															"value": "@pipeline().parameters.P_PATH",
															"type": "Expression"
														},
														"asatdt": {
															"value": "@pipeline().parameters.P_AS_AT_DT",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "FaceExtension UPDATE COUNT TARGET_copy1",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "COPY FaceExtension",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('COPY FaceExtension').output.rowsRead",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": {
															"value": "@activity('COPY FaceExtension').output.rowsCopied",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										}
									]
								},
								{
									"value": "FaceRecognition",
									"activities": [
										{
											"name": "COPY FaceRecognition",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "MongoDbV2Source",
													"batchSize": 100
												},
												"sink": {
													"type": "ParquetSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													}
												},
												"enableStaging": false,
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"path": "$['_id']['$oid']"
															},
															"sink": {
																"name": "_id"
															}
														},
														{
															"source": {
																"path": "$['FaceResult']"
															},
															"sink": {
																"name": "FaceResult"
															}
														},
														{
															"source": {
																"path": "$['Timestamp']['$date']"
															},
															"sink": {
																"name": "Timestamp"
															}
														},
														{
															"source": {
																"path": "$['__v']"
															},
															"sink": {
																"name": "__v",
																"type": "Int64"
															}
														},
														{
															"source": {
																"path": "$['UploadFileResponse']"
															},
															"sink": {
																"name": "UploadFileResponse"
															}
														},
														{
															"source": {
																"path": "$['created_at']"
															},
															"sink": {
																"name": "created_at"
															}
														},
														{
															"source": {
																"path": "$['updated_at']"
															},
															"sink": {
																"name": "updated_at"
															}
														}
													],
													"collectionReference": "",
													"mapComplexValuesToString": true
												}
											},
											"inputs": [
												{
													"referenceName": "MongoDb_ML_Detector",
													"type": "DatasetReference",
													"parameters": {
														"Collection_name": "FaceRecognition"
													}
												}
											],
											"outputs": [
												{
													"referenceName": "ParquetFile",
													"type": "DatasetReference",
													"parameters": {
														"file_name": {
															"value": "@pipeline().parameters.P_SRC_TBL",
															"type": "Expression"
														},
														"path": {
															"value": "@pipeline().parameters.P_PATH",
															"type": "Expression"
														},
														"asatdt": {
															"value": "@pipeline().parameters.P_AS_AT_DT",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "FaceRecognitionUPDATE COUNT TARGET",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "COPY FaceRecognition",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('COPY FaceRecognition').output.rowsRead",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": {
															"value": "@activity('COPY FaceRecognition').output.rowsCopied",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										}
									]
								},
								{
									"value": "CustGeo",
									"activities": [
										{
											"name": "COPY CustGeo",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "MongoDbV2Source",
													"batchSize": 100
												},
												"sink": {
													"type": "ParquetSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													}
												},
												"enableStaging": false,
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"path": "$['_id']['$oid']"
															},
															"sink": {
																"name": "_id",
																"type": "String"
															}
														},
														{
															"source": {
																"path": "$['EMP_ID']"
															},
															"sink": {
																"name": "EMP_ID",
																"type": "String"
															}
														},
														{
															"source": {
																"path": "$['AGENT_ID']"
															},
															"sink": {
																"name": "AGENT_ID",
																"type": "String"
															}
														},
														{
															"source": {
																"path": "$['CUSTOMER_ID']"
															},
															"sink": {
																"name": "CUSTOMER_ID",
																"type": "String"
															}
														},
														{
															"source": {
																"path": "$['ARMCODE']"
															},
															"sink": {
																"name": "ARMCODE",
																"type": "String"
															}
														},
														{
															"source": {
																"path": "$['LATITUDE']"
															},
															"sink": {
																"name": "LATITUDE",
																"type": "String"
															}
														},
														{
															"source": {
																"path": "$['LONGITUDE']"
															},
															"sink": {
																"name": "LONGITUDE",
																"type": "String"
															}
														},
														{
															"source": {
																"path": "$['ALTITUDE']"
															},
															"sink": {
																"name": "ALTITUDE",
																"type": "String"
															}
														},
														{
															"source": {
																"path": "$['TIME_STAMP']['$date']"
															},
															"sink": {
																"name": "TIME_STAMP",
																"type": "String"
															}
														},
														{
															"source": {
																"path": "$['MOBILE_DEVICE']"
															},
															"sink": {
																"name": "MOBILE_DEVICE",
																"type": "String"
															}
														},
														{
															"source": {
																"path": "$['APP_SOURCE']"
															},
															"sink": {
																"name": "APP_SOURCE",
																"type": "String"
															}
														},
														{
															"source": {
																"path": "$['ACTION_ID']"
															},
															"sink": {
																"name": "ACTION_ID",
																"type": "String"
															}
														}
													],
													"collectionReference": "",
													"mapComplexValuesToString": true
												}
											},
											"inputs": [
												{
													"referenceName": "MongoDb_CustGeo",
													"type": "DatasetReference",
													"parameters": {
														"Collection_name": "CustGeo"
													}
												}
											],
											"outputs": [
												{
													"referenceName": "ParquetFile",
													"type": "DatasetReference",
													"parameters": {
														"file_name": {
															"value": "@pipeline().parameters.P_SRC_TBL",
															"type": "Expression"
														},
														"path": {
															"value": "@pipeline().parameters.P_PATH",
															"type": "Expression"
														},
														"asatdt": {
															"value": "@pipeline().parameters.P_AS_AT_DT",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "CustGeo COUNT TARGET",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "COPY CustGeo",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
												"storedProcedureParameters": {
													"P_CNT_SRC": {
														"value": {
															"value": "@activity('COPY CustGeo').output.rowsRead",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_CNT_TGT": {
														"value": {
															"value": "@activity('COPY CustGeo').output.rowsCopied",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_LOAD_ID": {
														"value": {
															"value": "@pipeline().parameters.P_LOAD_ID",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_PCS_NM": {
														"value": {
															"value": "@pipeline().parameters.P_PCS_NM",
															"type": "Expression"
														},
														"type": "String"
													},
													"P_RMRK": {
														"value": null,
														"type": "String"
													},
													"P_ST": {
														"value": "START",
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "SqlServer1",
												"type": "LinkedServiceReference"
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"P_SRC_TBL": {
						"type": "string",
						"defaultValue": "FaceExtension"
					},
					"P_PATH": {
						"type": "string",
						"defaultValue": "getlocationfacerecognition"
					},
					"P_AS_AT_DT": {
						"type": "string",
						"defaultValue": "20200101"
					},
					"P_LOAD_ID": {
						"type": "string"
					},
					"P_PCS_NM": {
						"type": "string"
					}
				},
				"folder": {
					"name": "CUSTOM JOB"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}